/* Style the header section */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(180deg, #141414, #0f0c29);
  color: #fff;
}

header h1 {
  font-size: 48px;
  animation: rotate-in-dark 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes rotate-in-dark {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(-5deg);
    opacity: 1;
  }
}

/* Style the section content */
section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 50px 0;
  background-color: #1a1a1a;
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: slide-in-dark 1.5s ease-in-out;
  animation-fill-mode: forwards;
}

section p {
  margin: 10px;
  font-size: 20px;
  line-height: 1.5;
  animation: fade-in-dark 1.5s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

section h2 {
  margin: 10px;
  font-size: 36px;
  font-weight: bold;
  color: #4CAF50;
  animation: zoom-in-dark 1.5s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

section .projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

section .projects-item {
  width: 30%;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  animation: move-left-to-right-dark 1.5s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

section .projects-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

section .projects-item:focus {
  transform: scale(1.05);
  box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.15);
}

section .projects-item img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 10px;
}

section .projects-item h3 {
  font-size: 24px;
  color: #fff;
  padding: 10px;
  text-align: center;
  background-color: #4CAF50;
  border-radius: 0px 0px 10px 10px;
  margin: 0;
  animation: fade-in-item-dark 1s linear;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

section .projects-link {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-bottom
